<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head></head>
  <body>
    <header th:fragment="header" class="app-header">
      <nav class="nav">
        <div class="brand"><a th:href="@{/}">Demo</a></div>
        <ul class="nav-links">
          <li><a th:href="@{/}">Home</a></li>
          <li><a th:href="@{/about}">About</a></li>
          <li><a th:href="@{/contact}">Contact</a></li>
          <li><a th:href="@{/login}" class="icon-link" title="Login">👤</a></li>
        </ul>
      </nav>
    </header>
  </body>
</html>
